[train] #train parameters
epoch = 20
batch_size = 8

shuffle = True

reader_num = 4


optimizer = AdamW
learning_rate = 1e-3
weight_decay = 1e-5
step_size = 1
lr_multiplier = 1

max_len = 512

warmup_steps=2000
training_steps=20000
max_grad_norm=1.0
fp16=False

mlm_prob = 0.15

valid_mode=step
step_epoch=5000

lora_r=32
lora_alpha=64

question_first=True

[eval] #eval parameters
batch_size = 8

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = SQuAD
train_formatter_type = SQuAD
train_data_path = /data_new/private/xiaochaojun/DomainPlugin/data/SQuAD/train-v1.1.json


valid_dataset_type = SQuAD
valid_formatter_type = SQuAD
valid_data_path = /data_new/private/xiaochaojun/DomainPlugin/data/SQuAD/dev-v1.1.json


[model] #model parameters
model_name = SQuAD
pretrained_model=roberta-base

[output] #output parameters
output_time = 100
test_time = 1

model_path = /data_new/private/xiaochaojun/DomainPlugin/checkpoints
model_name = roberta-Adapter

output_function = binary

