[train] #train parameters
epoch = 20
batch_size = 4

shuffle = True

reader_num = 4


optimizer = AdamW
learning_rate = 1e-3
weight_decay = 1e-5
step_size = 1
lr_multiplier = 1

doc_len = 512

warmup_steps=20000
training_steps=200000
max_grad_norm=1.0
fp16=False

mlm_prob = 0.15

valid_mode=step
step_epoch=5000

bottleneck_dim=64

grad_accumulate=4

[eval] #eval parameters
batch_size = 4

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = multi
train_formatter_type = multi

valid_dataset_type = multi
valid_formatter_type = multi


[model] #model parameters
model_name = multi
pretrained_model=roberta-base

[output] #output parameters
output_time = 100
test_time = 1

model_path = checkpoints/
model_name = BERT-Adapter-64-KD

output_function = avgloss

load_from_path = False