[train] #train parameters
epoch = 20
batch_size = 16

shuffle = True

reader_num = 8

grad_accumulate = 2

optimizer = AdamW
learning_rate = 1e-4
weight_decay = 1e-5
step_size = 1
lr_multiplier = 1

doc_len = 512

warmup_steps=3000
training_steps=200000
max_grad_norm=1.0
fp16=True

mlm_prob = 0.15

valid_mode=step
step_epoch=1000

[eval] #eval parameters
batch_size = 16

shuffle = False

reader_num = 4

[distributed]
use = True
backend = nccl

[data] #data parameters
train_dataset_type = kara
train_formatter_type = vallina
train_data_path = /data_new/private/xiaochaojun/datamux/data/wiki-webtext
kara_namespace = pretrain
kara_dataset = corpus
kara_version = 1st

valid_dataset_type = Raw
valid_formatter_type = vallina
valid_data_path = /data_new/private/xiaochaojun/datamux/data/valid_text.jsonl


[model] #model parameters
model_name = vallina
pretrained_model= /home/yedeming/TinyBERT/models/bert_3layer_O1

[output] #output parameters
output_time = 100
test_time = 1

model_path = /data_new/private/xiaochaojun/datamux/checkpoint
model_name = TinyBERT

output_function = avgloss

